.headingtext{
    color: #fff;
    font-family: serif;
    font-size: 40px;
    text-align: center;
    margin-top: 60px;
}
.company_formm{
    background-color: black;
    background-image: transparent;
    border: 1px solid black;
    padding: 30px 30px 30px 30px;
    text-align: center;
    margin-top: 50px;
    margin-left: 455px;
}
