.aboutt{
    margin-right: 0px;
    color: #ffffff;
    font-size: 20px;
    margin-left: 28px;
    align-items: left;
    float: right;
}
.Logoutbutton{
    margin-right: 50px;
    color: #ffffff;
    font-size: 20px;
    margin-left: 28px;
    float: right;
}